.header {
  height: 64px;
  width: 100%;
  align-items: center;
}

.rectangulo{
  height: 64px;
  width: 100%;
  background-color: #FFFFFF;
  /* position: fixed; */
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
}

li {
  width: 50%;
  float: left;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
}

.h1{
  font-size: 30px;
  text-align: left;
  width: 90%;
}

.usuario{
  float: right;
  text-align: right;
  width: 20%;
}

select {
  font-size: 80%;
  font-weight: bold;
  cursor: pointer;
  background-color: #F0F0F0;
  border: none;
  padding: 10px;
  color: #FA6A00;
}

select:hover,
select:focus {
  color: #000;
  background-color: #F0F0F0;
  border: none;
  color: #FA6A00;
}
