<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>

  <body class="body">
    <app-header></app-header>

    <div class="grid">
        <!-- menu -->
        <div class="menu">
          <ul>
            <li><a class="active" href="#"> <i class="fas fa-users"></i> Usuarios</a></li>
            <li><a href="#"> <i class="fas fa-users"></i> Slider</a></li>
            <li><a href="#"> <i class="fas fa-chart-pie"></i> Reportes</a></li>
            <li><a href="#"> <i class="fas fa-file-alt"></i> Terminos</a></li>
            <li><a href="#"> <i class="fas fa-network-wired"></i> Redes</a></li>
          </ul>
        </div>

        <!--  -->
        <div class="contenido">
            <router-outlet></router-outlet>
        </div>
    </div>

  </body>
</html>
